:root {
    --bc-theme: #1d2222;
    --bc-body: #2C3333; 
    --form-elements: #ffffff;
    --btn-color: #1d2222;
    --change-color: #bdbdbd;
    --btn-bc: #000000;
    --green: #00b118;
    --red:#ff0000;
} 